body{
    /* background: linear-gradient(135deg, #d7e1ec, #ffffff); */
    /* background-color: #0f172a; */
    background-color: #fff;
}
.navbar{
    position: fixed;
    z-index: 1;
    width: 100vw;
   background-color: #0f172a;
       }
       .navbar-brand{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: 3px 6px 4px #fff;
       }